.transactions-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.transactions-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.date-button {
  height: 2.25rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.transaction-button {
  display: flex;
  align-items: center;
  gap: 1rem
}

.transactions-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.transactions-header h2 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
}